:root {
  --btn-width: 8rem;
  --btn-height: 2.5rem;
  --btn-bg: hsl(0, 94%, 72%);
  --btn-bottom-bg: hsl(0, 62%, 67%);
  --btn-shadow-bg: hsla(0, 62%, 67%, 0.15);
  --btn-disabled-bg: hsl(218, 27%, 48%);
  --btn-bottom-disabled-bg: hsl(232, 63%, 70%);
  --btn-shadow-disabled-bg: hsla(0, 62%, 67%, 0.15);
  --text-cl: #efefef;
  --border-radius: 10px 10px 15px 15px;
}

.container {
  position: relative;
  max-width: 200px;

  .action-btn {
    width: 100%;
    border: none;
    color: var(--text-cl);
    background-color: var(--btn-bg);
    padding: 0.75rem 1.5rem;
    position: relative;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 500;
    transform: translateY(0);
    transition: transform 50ms ease-in-out;
    z-index: 0;
    cursor: pointer;
  }

  .action-btn__bottom {
    width: 100%;
    height: var(--btn-height);
    background-color: var(--btn-bottom-bg);
    border-radius: var(--border-radius);
    position: absolute;
    top: 12px;
    z-index: -1;
  }

  .action-btn__shadow {
    width: calc(100% + 0.5rem);
    height: var(--btn-height);
    outline: 2px solid hsla(0, 62%, 67%, 0.15);
    background-color: var(--btn-shadow-bg);
    border-radius: var(--border-radius);
    position: absolute;
    top: 15px;
    left: -4px;
    z-index: -2;
  }

  &:not(.disabled) .action-btn:active,
  &:not(.disabled) .action-btn:focus-visible {
    transform: translateY(6px);
  }

  &.disabled {
    .action-btn {
      background-color: var(--btn-disabled-bg);
      cursor: initial;
    }

    .action-btn__bottom {
      background-color: var(--btn-bottom-disabled-bg);
    }
  }
}