.main-header-container {
    img {
        width: 20px;
        height: auto;
    }
    
    .title {
        font-weight: 800;
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 10px;
        position: relative;
    }

    .subtitle {
        font-size: 14px;
        color: chartreuse;
        position: absolute;
        bottom: -12px;
    }
    
    .turn-container {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 40px;
    }

    &.singleplayer {
        .player-turn {
            opacity: 0;
        }
    }

    .mode-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-width: 150px;
    }

    .waiting-banner {
        font-size: 0.85rem;
        color: var(--accent);
        margin-top: 20px;
        opacity: 0.85;
    }

    .outcome {
        opacity: 0;
        font-size: large;
        margin: 25px 0 15px 0;
        text-shadow: 2px 2px 5px #000000;
        font-weight: bolder;
        text-transform: uppercase;

        &.ended {
            opacity: 1;
        }
    }
}